<div>
  <h1>Track History</h1>
</div>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
    *ngIf="(loading | async) else trackHistoryArea"
    mode="indeterminate"
></mat-progress-spinner>

<ng-template #trackHistoryArea>
  <div fxLayout="column" fxLayoutGap="8px grid">
    <div *ngFor="let trackHistory of trackHistories | async">
      <mat-card>
        <mat-card-title>{{ trackHistory.user }}</mat-card-title>
        <mat-card-title>{{ trackHistory.track }}</mat-card-title>
        <mat-card-title>{{ trackHistory.datetime }}</mat-card-title>
      </mat-card>
    </div>
  </div>
</ng-template>
