<div>
  <h1>Artist albums: </h1>
</div>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
    *ngIf="(loading | async) else albumsArea"
    mode="indeterminate"
></mat-progress-spinner>

<ng-template #albumsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.lt-lg="33%"
        fxFlex="25%"
        *ngFor="let album of albums | async"
    >
      <mat-card>
        <img
            [src]="album.image | image"
            [alt]="'Photo of ' + album.name"
            mat-card-image
        />
        <mat-card-title>{{ album.name }}</mat-card-title>
        <mat-card-content> Release: {{ album.year }}</mat-card-content>
        <mat-card-actions>
          <a
              [routerLink]="['/tracks/', album._id]"
              mat-button
          >VIEW TRACKS</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>